---
import Layout from '../layouts/Layout.astro';
import Film from '../components/Film.astro';

const pageTitle = "My Learning Blog - Kailash";

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const names:string[] = ["test","test1","test2"];

//object types
var players: {name:string, age:number, isGood:boolean} = {
    name:"kohli",
    age:33,
    isGood:true
}

const happy = true;
const finished = false;
const goal = 3;
---
<Layout title="Blog | own blog">
    <main>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
        <Film />
        <h1>{pageTitle}</h1>
        <p>This is where I will post about my journey learning Astro.</p>
        <ol>
            <li>my name is: {identity.firstName}</li>
            <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
            {identity.hobbies.length > 0 &&
                identity.hobbies.map((hobbie) => <li>{hobbie}</li>)
            }
            { identity.hobbies.map((hobb) => <b>{hobb}</b><br>)}
        </ol>
        <ul>
            <li><a href="/posts/post-1/">Post 1</a></li>
            <li><a href="/posts/post-2/">Post 2</a></li>
            <li><a href="/posts/post-3/">Post 3</a></li>
        </ul>
        {happy && <p>I am happy to be learning Astro!</p>}
        {finished && <p>I finished this tutorial!</p>}
        {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
    </main>
</Layout>